.DS_Store

/.vs
/.idea
/obj
/bin-int
/bin

/MultiAgents/obj
/Sample/obj
/Response/obj
/DevUI/obj
/Agent2Agent/Client/obj
/Agent2Agent/Service/obj
/AgentUI/Client/obj
/AgentUI/Service/obj

*.user
*.sln
*.slnx
*.vcxproj
*.csproj
*.vcxproj.filters
*package-lock.json

packages

Makefile

*.xcworkspace
.vercel
